#container > div {
    width: calc(100vw / var(--nb-cols));
    height: calc(3 * 100vw / (4 * var(--nb-cols)));
    overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
:root {
    --nb-cols: 1
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding: 0;
    margin:0;
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@for $i from 1 through 7 {
    $width: $i * 400px;
    @media (min-width: $width) {
        #container {
            display: grid;
            grid-template-columns: repeat($i, 1fr);
        }
        :root {
            --nb-cols: #{$i}
        }
    }
}