@use 'utils' as *;

#_11 {
    background: #191210;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        display: grid;
        align-items: center;
        justify-items: center;
        > div {
            grid-row: 1;
            grid-column: 1;
        }
    }
    .full-circle {
        background : #191210;
        border-radius: 100%;
        border: unit(20) solid #ECA03D;
        width: unit(100);
        height: unit(100);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
            content: '';
            display: block;
            border-radius: 100%;
            width: unit(50);
            height: unit(50);
            background: #84271C;
        }
    }
    .half-circle {
        display: grid;
        grid-template-columns: unit(100);
        grid-template-rows: unit(50) unit(50);

        :nth-child(1) {
            background : #191210;
            border-radius: 100%;
            border: unit(20) solid #ECA03D;
            box-sizing: border-box;
            grid-row: 1 / span 2;
            grid-column: 1;
        }
        :nth-child(2) {
            background : #191210;
            grid-column: 1;
        }
        &.left {
            transform: translateX(#{unit(-100)})
        }
        &.right {
            transform: translateX(#{unit(100)})
        }
        &.left :nth-child(2) {
            grid-row: 1;
        }
        &.right :nth-child(2) {
            grid-row: 2;
        }
    }
}

#_12 {
    background: #F5D6B4;
    display:flex;
    justify-content: center;
    align-items: center;
    .container {
        display: grid;
        grid-template-rows: unit(50) unit(50);
        div {
            width: unit(100);
            height: unit(50);
            box-sizing: border-box;
            border-left: unit(20) solid #D86F45;
            border-right: unit(20) solid #D86F45;
        }
    }
    .up-half {
        border-radius: unit(100) unit(100) 0 0;
        border-top: unit(20) solid #D86F45;
    }

    .down-half {
        grid-row: 2;
        grid-column: 1;

        border-radius: 0 0 unit(100) unit(100);
        border-bottom: unit(20) solid #D86F45;

        &:nth-child(2) {
            transform: translate(unit(-80))
        }
        &:nth-child(3) {
            transform: translate(unit(80))
        }

        &::before, &::after {
            content: '';
            display: block;
            background: #D86F45;
            width: unit(20);
            height: unit(20);
            border-radius: 100%;
        }

        &::before {
            transform: translate(unit(-20), unit(-10));
        }

        &::after {
            transform: translate(unit(60), unit(-30));
        }
    }
    
}

#_13 {
    background: #0B2429;
    div {
        width: unit(200);
        height: unit(200);
        background: #F3AC3C;
        transform: translate(unit(-100), unit(-100)) rotate(45deg)
    }
}

#_14 {
    background: #F2F2B6;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            position:absolute;
        }
    }

    --width: #{unit(150)};

    .triangle-down, .triangle-up {
        box-sizing: border-box;
        width: 0;
        height: 0;
        border-left: calc(var(--width) /2) solid transparent;
        border-right: calc(var(--width) /2) solid transparent;
    }
    .triangle-up {
        border-bottom: calc(var(--width) * .866) solid var(--color);
    }
    .triangle-down {
        border-top: calc(var(--width) * .866) solid var(--color);
    }

    .bright {
        --color: #FF6D00;
    }
    .dark {
        --color: #FD4602;
    }
    
    .triangle-down.dark {
        right:unit(-30)
    }
    .triangle-down.bright {
        left:unit(-95);
        top:unit(-130)
    }
    .triangle-up.bright {
        left:unit(-10)
    }
    .triangle-up.dark {
        left:unit(-95)
    }
}

#_15 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #09042A;
    .container {
        display:grid;
        align-items: center;
        justify-items: center;
        div {
            grid-row: 1;
            grid-column: 1;
        }
    }
    .center {
        width: unit(80);
        height: unit(80);
        background: #09042A;
        border-radius: unit(75) 0;
        transform: rotate(-45deg);
        z-index:100;
    }
    .circle {
        border-radius: 50%;
        width: unit(150);
        height:unit(150);
        background: #E78481;
    } 
    .a {
        transform: translateX(unit(50));
        z-index: 0;
    }
    .b {
        background: #7B3F61;
        z-index: 0;
        transform: translateX(unit(-50));
    }
}

#_17 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #09042A;
    .container {
        display: grid;
        align-items: center;
        div {
            grid-row:1;
            grid-column: 1;
        }
        :nth-child(1){
            transform:translateX(unit(60))
        }
        :nth-child(2){
            transform:translateX(unit(-60))
        }
        :nth-child(3){
            transform:translateY(unit(53))
        }
        :nth-child(4){
            transform:translateY(unit(-53))
        }
        :nth-child(5){
            background:#E78481;
            height:unit(50);
        }
    }
    .circle {
        box-sizing: border-box;
        width: unit(80);
        height: unit(80);
        border: unit(10) solid black;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pink {
        background: #09042A ;
        border-color: #E78481;
    }
    .blue {
        background: #F5BB9C;
        border-color:#09042A  
    }
    
}

#_18 {
    display:flex;
    justify-content:center;
    align-items: center;
    background: #5C434C;
    .container {
        width: 100%;
        height:100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;
        div {
            width:unit(80);
            height: unit(80);
            background: #F5D6B4;
            border-radius: unit(80) 0 0 0;
        }
        :nth-child(2n+1) {
            background: #F09462;
        }
    }
}

#_19 {
    background: #0B2429;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        display : grid;
        justify-items: center;
        align-items: center;
        div {
            grid-row: 1;
            grid-column: 1;
        }
    }
    .face-left {
        width: calc(0.707106781* unit(100));
        height: calc(0.707106781* unit(100));
        background: #998235;
        transform: translate(unit(-35), unit(-35)) matrix(1, -1, 0, 1, 0, 0) 
    }
    .face-right {
        width: calc(0.707106781* unit(100));
        height: calc(0.707106781* unit(100));
        background: #1A4341;
        transform: translate(unit(35), unit(-35)) matrix(1, 1, 0, 1, 0, 0) 
    }
    .face-down {
        width: unit(100);
        height: unit(100);
        background: #F3AC3C;
        transform: translateY(unit(35)) rotate(45deg)
    }
}

#_20 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #62306D;
    .container {
        display: grid;
        grid-template-columns: unit(140) unit(60);
        grid-template-rows: unit(100);
        > div {
            position: relative;
        }
    }
    .yellow {
        background: #F7EC7D;
    }
    .orange {
        background: #E38F66;
    }
    .container > div > div {
        background: #62306D;
        border-radius: 100%;
        position: absolute;
        z-index: 1000;
    }
    .top-left {
        top: 0;
        left: 0;
        transform: translate(-50%, -50%)
    }
    .top-right {
        top: 0;
        right: 0;
        transform: translate(50%, -50%)
    }
    .bot-left {
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%)
    }
    .bot-right {
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%)
    }
    .big {
        width: unit(40);
        height: unit(40);
    }
    
    .small {
        width: unit(20);
        height: unit(20);
    }
}
