@use 'utils' as *;
@use 'sass:math';

#o1 {
    
    $l: 200;
    $tan54: 1.37638192047;
    $sin54: 0.80901699437;
    
    $a: $l / (2*math.tan(54deg));
    $b: $l / (2*math.sin(54deg));
    $c: math.sqrt($l*$l - $b*$b) / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #9b4545;

    .container {
        display: grid;
        justify-items: center;
        align-items: center;
        gap:0;
    }

    .container :nth-child(1) {
        border-left: unit($l/2) solid transparent;
        border-right: unit($l/2) solid transparent;
        border-bottom: unit($a) solid #eeeb4e;
    }

    .container :nth-child(2) {
        width: unit($b);
        border-top: unit($l - $c) solid #eeeb4e;
        border-left: unit(($l - $b) / 2) solid transparent;
        border-right: unit(($l - $b) / 2) solid transparent;
    }

}

#o2 {
    $l: 200;
    
    $a: $l / (2*math.tan(54deg));
    $b: $l / (2*math.sin(54deg));
    $c: math.sqrt($l*$l - $b*$b/4);

    $beta: 2 * math.atan($b / (2*$l));
    $v: $l * math.tan($beta) / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1A4341;

    .container {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-rows: unit($a);
        gap:0;
    }

    .container :nth-child(1) {
        border-left: unit($b/2) solid transparent;
        border-right: unit($b/2) solid transparent;
        border-bottom: unit($c) solid #F3AC3C;
        grid-row: 1 / span 2;
        grid-column: 1
    }

    .container :nth-child(2) {
        border-top: unit($v) solid #F3AC3C;
        border-left: unit($l / 2) solid transparent;
        border-right: unit($l / 2) solid transparent;
        grid-row:2;
        grid-column:1;
        align-self: start;
    }

    .container :nth-child(3) {
        border-bottom: unit($c - $v - $a) solid #1A4341;
        border-left: unit($b / 2) solid transparent;
        border-right: unit($b / 2) solid transparent;
        grid-row:2;
        grid-column:1;
        align-self: end;
    }
}

#o3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #28AEAE;
      
    .container {
        width: unit(250);
        display: grid;
        align-items: center;
        justify-items: center;
    }
    
    .container > div {
        grid-row: 1;
        grid-column: 1;
    }
      
    .moon {
        display: grid;
        justify-items: center;
        align-items: center;
        div {
            grid-row: 1;
            grid-column: 1;
        }
        :nth-child(1) {
            background: #FFFFFF;
            width: unit(200);
            height: unit(200);
            border-radius: 50%;
        }
        :nth-child(2) {
            background: #28AEAE;
            width: unit(160);
            height: unit(160);
            border-radius: 50%;
            transform: translateX(unit(30))
        }
    }
      
    .star {
        justify-self: end;
        z-index: 10;
        $l: 80;
    
        $a: $l / (2*math.tan(54deg));
        $b: $l / (2*math.sin(54deg));
        $c: math.sqrt($l*$l - $b*$b/4);
    
        $beta: 2 * math.atan($b / (2*$l));
        $v: $l * math.tan($beta) / 2;
    
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-rows: unit($a);
        gap:0;
        
        :nth-child(1) {
            border-left: unit($b/2) solid transparent;
            border-right: unit($b/2) solid transparent;
            border-bottom: unit($c) solid #FFFFFF;
            grid-row: 1 / span 2;
            grid-column: 1
        }
        
        :nth-child(2) {
            border-top: unit($v) solid #FFFFFF;
            border-left: unit($l / 2) solid transparent;
            border-right: unit($l / 2) solid transparent;
            grid-row:2;
            grid-column:1;
            align-self: start;
        }
        
        :nth-child(3) {
            border-bottom: unit($c - $v - $a) solid #28AEAE;
            border-left: unit($b / 2) solid transparent;
            border-right: unit($b / 2) solid transparent;
            grid-row:2;
            grid-column:1;
            align-self: end;
        }
    }
}

#o4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .left  {
        background: #000054;
        display: grid;
        :nth-child(1) {
            width: unit(100);
            height: unit(100);
            border-radius: 0 0 unit(100) 0;
            background: white;
        }
        :nth-child(2) {
            width: unit(100);
            height: unit(100);
            border-radius: 0 unit(100) 0 0;
            background: white;
            align-self: end;
        }
    }
    
    $l: 50;
    $h:math.sqrt(3)*$l/2;
    
    .right {
        display: grid;
        align-items: center;
        justify-items: center;
    }
    
    .star {
        display:grid;
        justify-items: center;
        align-items: center;
    }
    
    .blue, .white {
        width: unit(3*$l - .55*$l);
        display: grid;
        grid-template-rows: unit($h - .30*$l) unit((2 * $h) - .34*$l) unit($h - .30*$l);
        justify-items: center;
        align-items: center;
        grid-row: 1;
        grid-column: 1;
    }
    
    .blue{
        .triangle-up {
            border-left: unit($l/2) solid transparent;
            border-right: unit($l/2) solid transparent;
            border-bottom: unit($h) solid #000054;
        }
        .triangle-down{
            border-left: unit($l/2) solid transparent;
            border-right: unit($l/2) solid transparent;
            border-top: unit($h) solid #000054;
        }
    }
    
    .white{
        .triangle-up {
            border-left: unit($l/2) solid transparent;
            border-right: unit($l/2) solid transparent;
            border-bottom: unit($h) solid white;
            transform: scale(.4) translateY(unit(.25 * $l));
        }
        .triangle-down{
            border-left: unit($l/2) solid transparent;
            border-right: unit($l/2) solid transparent;
            border-top: unit($h) solid white;
            transform: scale(.4) translateY(unit(-.25 * $l));
        }
    }
    
    
    .blue, .white {
        :nth-child(1) {
            grid-row:1;grid-column:1;
        }
        :nth-child(2),:nth-child(3),:nth-child(4),:nth-child(5) {
            grid-row:2; grid-column:1;
        }
        :nth-child(6) {
            grid-row:3; grid-column:1;
        }
        
        :nth-child(1) {
            grid-row:1;grid-column:1;
        }
        :nth-child(2){
            align-self: start;
            justify-self: start;
        }
        :nth-child(3) {
            align-self: start;
            justify-self: end;
        }
        :nth-child(4){
        align-self: end;
        justify-self: start;
        }
        :nth-child(5) {
            align-self: end;
            justify-self: end;
        }
    }
}

#o5 {
    $l:100;
    $h: math.sqrt(3) * $l / 2;
    $r: $l * math.tan(30deg);
    $d: 2 * $r;
    $w: $r + $l / math.cos(30deg);

    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeee;

    .container {
        display:grid;
        align-items:center;
        justify-items: center;
        height: unit($w);
        width: unit($d);
        > div {
            grid-row:1;
            grid-column:1;
        }
        :nth-child(1) {
            border-left: unit($l/2) solid transparent;
            border-right: unit($l/2) solid transparent;
            border-bottom: unit($h) solid #386679;
            align-self:start;
            justify-self:center;
        }
        :nth-child(2) {
            border-radius: 50%;
            background: #386679;
            width: unit($d);
            height: unit($d);
            align-self:end;
        }
    }
}

#o6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    .container{
        display:grid;
        height: unit(250);
        justify-items: center;
        align-items: end;
        grid-template-rows: auto auto unit(100);
    }
      
    .handle{
        $l:75;
        $h: math.sqrt(3) * $l / 2;
        $r: $l * math.tan(30deg);
        $d: 2 * $r;
        $w: $r + $l / math.cos(30deg);
        
        display:grid;
        justify-items: center;
        align-items: center;
        grid-row: 1 / span 2;
        grid-column: 1;
        >div {
        grid-row: 1;
        grid-column: 1;
        }
        
        .black, .transparent{
        display:grid;
        align-items:center;
        justify-items: center;
        height: unit($w);
        width: unit($d);
        > div {
            grid-row:1;
            grid-column:1;
        }
        :nth-child(1) {
            border-left: unit($l/2) solid transparent;
            border-right: unit($l/2) solid transparent;
            border-top: unit($h) solid #FFD700;
            align-self:end;
            justify-self:center;
        }
        :nth-child(2) {
            border-radius: 50%;
            background: #FFD700;
            width: unit($d);
            height: unit($d);
            align-self:start;
        }
        }
        .transparent {
        transform: scale(.7) translateY(-5%);
        z-index: 10;
        :nth-child(1) {
            border-top-color: black;
        }
        :nth-child(2) {
            background: black;
        }
        } 
    }
    
    .bar {
        grid-row: 2;
        grid-column: 1;
        display: grid;
        > div {
        grid-row: 1;
        grid-column: 1;
        }
        :nth-child(1) {
        border-top: unit(10) solid transparent;
        border-bottom: unit(10) solid transparent;
        border-left: unit(150) solid #FFD700;
        }
        :nth-child(2) {
        border-top: unit(10) solid transparent;
        border-bottom: unit(10) solid transparent;
        border-right: unit(150) solid #FFD700;
        }
    }
    .bottom{
        grid-column:1;
        grid-row: 1 /span 3;
        justify-self: center;
        align-self: end;
        border-right: unit(10) solid transparent;
        border-left: unit(10) solid transparent;
        border-bottom: unit(200) solid #FFD700;
    }
}

#o7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D3F5F5;
    
    .container {
        display: grid;
        height: unit(210);
        grid-template-rows: unit(85) 1fr;
    }
    
    .horizontal-bar {
        z-index: 10;
        width: unit(140);
        height: unit(26);
        background: #63462D;
        align-self: end;
        grid-row: 1;
        grid-column: 1;
        border-radius: unit(13);
    }
    .vertical-bar {
        z-index: 10;
        grid-row: 1 / span 2;
        grid-column: 1;
        justify-self: center;
        align-self: stretch;
        width: unit(26);
        background: #63462D;
        border-radius: unit(13);
    }
    
    .circles {
        display: grid;
        div {
            width: unit(26);
            height: unit(26);
            border-radius: unit(13);
            background: #63462D;
            grid-row:1;
            grid-column:1;
        }
        &.horizontal {
            width: unit(45);
            :nth-child(1) {
                justify-self: start;
                align-self: center;
            }
            :nth-child(2) {
                justify-self: end;
                align-self: center;
            }
        } 
        &.vertical {
            height: unit(45);
            :nth-child(1) {
                justify-self: center;
                align-self: start;
            }
            :nth-child(2) {
                justify-self: center;
                align-self: end;
            }
        }
        
        &:nth-child(3) {
            grid-row:1;
            grid-column: 1;
            align-self: start;
            justify-self: center;
            transform: translateY(unit(10))
        }
        &:nth-child(4) {
            grid-row:1;
            grid-column: 1;
            align-self: end;
            justify-self: start;
            transform: translate(unit(10), unit(10))
        }
        &:nth-child(5) {
            grid-row:1;
            grid-column: 1;
            align-self: end;
            justify-self: end;
            transform: translate(unit(-10), unit(10))
        }
        &:nth-child(6) {
            grid-row:2;
            grid-column: 1;
            align-self: end;
            justify-self: center;
            transform: translateY(unit(-10))
        }
    }
    
    .back-circle {
        background: #BA8E4A;
        height: unit(70);
        width: unit(70);
        border-radius: 50%;
        grid-row: 1;
        grid-column: 1;
        justify-self:center;
        align-self: end;
        transform: translateY(unit(23))
    }
}

#o8 {
    display: grid;
    justify-items: center;
    align-items: center;
    background: #EBC7B2;
    
    > div {
        grid-row: 1;
        grid-column:1;
    }
    
    .cross {
        display: grid;
        height: unit(210);
        grid-template-rows: unit(70) 1fr unit(50);
        justify-items: center;
        > div {
            background: #C0C0C0;
        }
    }
    
    .top.horizontal {
        width: unit(70);
        height: unit(20);
        align-self: center;
        grid-row: 1;
        grid-column: 1;
    }
    .middle.horizontal {
        width: unit(140);
        height: unit(20);
        align-self: start;
        grid-row: 2;
        grid-column: 1;
    }
    .bottom.horizontal {
        width: unit(70);
        height: unit(20);
        transform: matrix(1,.4,0,1, 0,0);
        align-self: start;
        grid-row: 3;
        grid-column: 1;
    }
    
    .vertical {
        width: unit(20);
        grid-column: 1;
        grid-row: 1 / span 3;
    }
    
    .inside {
        z-index: 10;
    }
    
    .border {
        >div {
            background: black;
        }
        .vertical {
            scale: 1.4 1.05;
        }
        .top.horizontal {
            scale: 1.1 1.4
        }
        .middle.horizontal {
            scale: 1.05 1.4
        }
        .bottom.horizontal {
            transform:  matrix(1,.4,0,1, 0,0) scale(1.1, 1.4);
        }
    }
}

#o9 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3AF66;

    .container {
        width: unit(200);
        height: unit(200);
        background: black;
        border-radius: 50%;
        border: unit(10) solid #9A2A2A;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .inside {
        width: unit(160);
        height: unit(160);
        background: #FFD700;
        border-radius: 50%;
        border: unit(10) solid #9A2A2A;
        
        display: grid;
        justify-items: center;
        align-items: end;
        div {
            grid-row: 1;
            grid-column: 1;
        }
        
        overflow: hidden;
        :nth-child(1) {
            border-bottom: #{math.sqrt(3) * 160/2}px solid #9A2A2A;
            border-left: unit(80) solid transparent;
            border-right: unit(80) solid transparent;
        }
        :nth-child(2) {
            border-bottom: #{math.sqrt(3) * 120/2}px solid #FFD700;
            border-left: unit(60) solid transparent;
            border-right: unit(60) solid transparent;
        }
    }
}


#o10 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9B945F;
    .container {
        display: grid;
        >div {
            grid-row:1;
            grid-column:1;
        }
    }
    
    @mixin tangent-triangle($r, $alpha, $dir, $color) {
        $c: $r / math.tan($alpha/2);
        $g: $c * math.cos($alpha/2);
        $f: $c * math.sin($alpha/2);
        
        @if ($dir == up) {
            border-right: #{$f}px solid transparent;
            border-left: #{$f}px solid transparent;
            border-bottom: #{$g}px solid $color;
        }@else {
            border-right: #{$f}px solid transparent;
            border-left: #{$f}px solid transparent;
            border-top: #{$g}px solid $color;
        }
    }
    
    @mixin leaf($r, $alpha, $beta, $color) {
        display: grid;
        grid-template-rows: #{$ua}px #{2*$r}px #{$ub}px;
        .top {
        @include tangent-triangle($r, $alpha, up, $color);
            grid-row: 1 / span 2;
            grid-column:1;
            justify-self: center;
            align-self: start
        }
        .bottom {
        @include tangent-triangle($r, $beta, down, $color);
            grid-row: 2 / span 2;
            grid-column:1;
            justify-self: center;
            align-self: end
        }
    
        .circle {
            background: $color;
            height: #{2*$r}px;
            width: #{2*$r}px;
            border-radius: 50%;
            grid-row: 2;
            grid-column:1;
            justify-self: center;
            align-self: center;
        }
    }
    
    $r : 50;
    $alpha: 50deg;
    $beta: 100deg;
    
    $ua: (1/math.sin($alpha/2) - 1) * $r;
    $ub: (1/math.sin($beta/2) - 1) * $r;
    .black.leaf {
        @include leaf($r, $alpha, $beta, black);
        scale:1.1;
        translate: 0 unit(-2);
    }
    .green.leaf {
        @include leaf($r, $alpha, $beta, #3EB812);
        z-index: 10;
    }
    .line{
        background: black;
        height: unit(100);
        width: unit(6);
        z-index: 15;
        border-radius: unit(5) unit(5) 0 0;
        justify-self:center;
        align-self:end;
    }
}